<ion-header>
	<ion-navbar>
		<ion-title>
			Create Event
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item (click)="takePicture()">
			<img src="{{src}}" />
			<p text-center id="take-photo">
				<button ion-button large class="gray-blackground">
				<ion-icon name="camera"></ion-icon>
				Upload a Photo
			</button>
			</p>
		</ion-item>
		<ion-item>
			<ion-label floating>What you will cook?</ion-label>
			<ion-input type="text" [(ngModel)]="lunchevnet.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-grid>
				<ion-row class="buttons">
					<ion-col width-50>
						<button ion-button block outline>Suggestions</button>
					</ion-col>
					<ion-col width-50>
						<button ion-button block outline>Template</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		<ion-item>
			<ion-label floating>For how many people?</ion-label>
			<ion-input type="number" [(ngModel)]="lunchevnet.numberOfGuest"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Estimate total cost</ion-label>
			<ion-input type="number" [(ngModel)]="lunchevnet.totalCost"></ion-input>
		</ion-item>
		<ion-item text-right>
			<ion-label>Price per person
				<span class="star" style="font-weight: bold">{{ getPricePerPerson() }}</span>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Location</ion-label>
			<ion-select [(ngModel)]="lunchevnet.location_id">
				<ion-option value="{{location.id}}" *ngFor="let location of locations">{{location.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Date</ion-label>
			<ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="lunchevnet.lunchdate"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label>Start Time</ion-label>
			<ion-select [(ngModel)]="lunchevnet.startTime">
				<ion-option value="{{timedefinition.id}}" *ngFor="let timedefinition of timeDefinitions">{{timedefinition.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Dead Time</ion-label>
			<ion-select [(ngModel)]="lunchevnet.deadTime">
				<ion-option value="{{timedefinition.id}}" *ngFor="let timedefinition of timeDefinitions">{{timedefinition.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>Description</ion-label>
			<ion-textarea [(ngModel)]="lunchevnet.description"></ion-textarea>
		</ion-item>
		<ion-item>
			<p> Any special diets? </p>
			<ion-grid>
				<ion-row *ngFor="let d of diets">
					<ion-col width-33 *ngFor="let diet of d" (click)="addDiet(diet)" [ngClass]="{selected: checkDiet(diet)}" class="diet">
						<img src="http://139.59.143.247/img/diet/{{diet.image_url}}">
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
		<ion-item>
			<ion-label>Do you need any help</ion-label>
			<ion-toggle checked="false"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>What time you will start cooking?</ion-label>
			<ion-select [(ngModel)]="lunchevnet.startTimeCooking">
				<ion-option value="{{timedefinition.id}}" *ngFor="let timedefinition of timeDefinitions">{{timedefinition.name}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Save this recipe as a template</ion-label>
			<ion-checkbox color="dark" checked="true"></ion-checkbox>
		</ion-item>

		<button ion-button block class="orange-background" (click)="create()">create</button>
	</ion-list>
</ion-content>