page-about {
    background-color: #F6F6F6;
    #take-photo {
        position: relative;
        top: -2rem;
        margin-bottom: -2rem;
        ion-icon {
            margin-right: 1rem;
        }
    }
    .buttons button {
        border: 1px solid #666666;
        color: #666666;
        border-radius: 2px;
    }
    .selected {
        background-color: lightgray;
    }
    .diet {
        border-right: #CCCCCC;
        border-right-width: 1px;
        border-right-style: solid;
    }
}
