<!--
  Generated template for the Onboarding page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>onboarding</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-slides pager="true" [options]="mySlideOptions">
		<ion-slide *ngFor="let slide of slides" style="background-color: #CF6743">
			<img src="assets/slides/{{slide}}" />
		</ion-slide>
	</ion-slides>
</ion-content>