<!--
  Generated template for the FiltersPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

	<ion-toolbar>
		<ion-title>FiltersPage</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
		</ion-buttons>
	</ion-toolbar>

</ion-header>-->

<ion-header>
	<ion-toolbar>
		<ion-title>
			FiltersPage
		</ion-title>
		<ion-buttons start>
			<button ion-button (click)="dismiss()">
        <span color="primary" >Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item-group>
		<ion-item-divider light>Type Of food</ion-item-divider>
		<ion-item>
			<ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon><br/>

			<ion-label>Arya Stark</ion-label>
			<ion-checkbox></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
						<p>1sf sdaf sad fsd f</p>
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" /> 2
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" /> 3
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-item-group>
	<ion-item-group>
		<ion-item-divider light>diet</ion-item-divider>
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
						<p>1sf sdaf sad fsd f</p>
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" /> 2
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" /> 3
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
					</ion-col>
					<ion-col width-33>
						<img src="https://www.google.de/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-item-group>
	<ion-item-group>
		<ion-item-divider light>Time</ion-item-divider>
		<ion-item>
			<ion-label>Gender</ion-label>
			<ion-select multiple="true">
				<ion-option value="1">13:00</ion-option>
				<ion-option value="1">13:30</ion-option>
				<ion-option value="1">14:00</ion-option>
				<ion-option value="1">13:00</ion-option>
				<ion-option value="1">13:00</ion-option>
				<ion-option value="1">13:00</ion-option>
				<ion-option value="1">13:00</ion-option>
				<ion-option value="1">13:00</ion-option>
				<ion-option value="1">13:00</ion-option>
				<ion-option value="1">13:00</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>Argentina</ion-item>
	</ion-item-group>

	<ion-item-group>
		<ion-item-divider light>Time</ion-item-divider>
		<ion-item>
			<ion-range min="1" max="5" dualKnobs="true" pin="true" color="dark">
				<ion-icon range-left small name="logo-euro"></ion-icon>
				<ion-icon range-right name="logo-euro"></ion-icon>
			</ion-range>
		</ion-item>
	</ion-item-group>

</ion-content>