<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>login</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label floating>User Name</ion-label>
		<ion-input type="text" [(ngModel)]="vmuser.username"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating>Password</ion-label>
		<ion-input type="password" [(ngModel)]="vmuser.password"></ion-input>
	</ion-item>
	<button ion-button full (click)="login()">Login</button>
</ion-content>