// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primary-color: #333333;
$gray-background-color: #888888;
$orange-color: #FE7D51;
.star {
    color: #FE7D51;
}

.content-md {
    color: $primary-color;
}

.gray-blackground {
    background-color: $gray-background-color;
}

.orange-background {
    background-color: $orange-color;
}