page-home {
    $primary-color: #333333;
    $border-radius: 10px;
    ion-card {
        border-radius: $border-radius !important;
        padding-bottom: 2rem !important;
        margin-bottom: 3rem !important;
        .lunch-title {
            font-family: AvenirNext-Regular;
            font-size: 3rem;
            color: $primary-color;
            letter-spacing: 0px;
        }
        .description {
            font-family: AvenirNext-Regular;
            font-size: 2rem;
            color: #888888;
            letter-spacing: 0px;
        }
        .lunch-img {
            position: relative;
            .badge {
                position: absolute;
                right: 0px;
                top: 70%;
                background: $orange-color;
                width: 26%;
                height: 27%;
                padding: 2%;
                color: white;
                font-size: 2.6rem;
                ion-icon {
                    font-size: 0.8em;
                }
                span {
                    font-size: 1.2rem;
                    top: -2rem;
                    position: relative;
                }
            }
        }
        button {
            background-color: $orange-color !important;
            height: 2.0em !important;
        }
        .button-block-md {
            background-color: $orange-color;
        }
        .left-guest {
            color: $orange-color;
            font-size: 1.2rem !important;
        }
        ion-col {
            margin: auto;
        }
        ion-card-content {
            line-height: 0px !important;
            padding: 0px !important;
            ion-col {
                padding: 0px !important;
            }
            ion-avatar {
                margin-right: 0px !important;
            }
        }
        ion-label {
            margin: 0px !important;
        }
        ion-card-title {
            margin: 0px !important;
            padding: 0px !important;
            ion-label {
                margin: 10px !important;
            }
            .lunch-title-wrapper ion-label {
                margin-left: 0px !important;
            }
        }
        ion-item {
            padding-left: 2rem !important;
            padding-right: 1rem !important;
            h2 span {
                margin-right: 1rem !important;
            }
        }
        .last-row p {
            font-size: 1.4rem;
        }
    }
}

page-home .card-ios .lunch-img .badge span {
    font-size: 1rem;
}