<ion-header>
	<ion-toolbar>
		<ion-title>Home</ion-title>
		<ion-searchbar style="display: none">
		</ion-searchbar>
		<ion-buttons end>
			<button>
		        <ion-icon name="search" (click)="openFilter()"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<h2 style="font-weight: normal; color: #888888">Today
		<hr/>
	</h2>
	<ion-card *ngFor="let item of lunchevents">
		<div class="lunch-img">

			<img src="http://139.59.143.247/img/food/{{item.image_url}}" />
			<div class="badge" text-center>
				<div text-center>
					{{item.totalCost / item.numberOfGuest}} &euro;
				</div>
				<span>Per Person</span>
			</div>
		</div>
		<ion-card-content>
			<ion-card-title>
				<ion-item class="lunch-title-wrapper">
					<p class="lunch-title">
						{{item.name}}
					</p>

				</ion-item>
				<ion-item>
					<ion-avatar item-left large>

						<img src="http://139.59.143.247/img/user/{{item.vmuser.image_url}}" />
					</ion-avatar>
					<h2><span>{{item.vmuser.nickname}}</span>
						<ion-icon name="{{i}}" *ngFor="let i of item.vmuser | stars" class="star"></ion-icon>
					</h2>
					<p>

					</p>
				</ion-item>

			</ion-card-title>
			<ion-item>
				<p class="description">
					{{item.description}}
				</p>
			</ion-item>
			<ion-item>
				<ion-row>
					<ion-col width-33>
					</ion-col>
					<ion-col width-33>
					</ion-col>
					<ion-col width-33>

						<div class="left-guest" text-center>{{item.luncheventguests.length}} / {{item.numberOfGuest}} only {{ item.numberOfGuest - item.luncheventguests.length}}
							spot left</div>
					</ion-col>
				</ion-row>
				<ion-row class="last-row">
					<ion-col width-25>
						<p>
							{{item.startTimeDefine.name}}
						</p>
					</ion-col>
					<ion-col width-45>
						<p>
							{{item.location.name}}
						</p>
					</ion-col>
					<ion-col width-30>
						<button ion-button block (click)="join(item)" *ngIf="!checkLunchItem(item) && ((item.numberOfGuest - item.luncheventguests.length) > 0)">JOIN</button>
						<button ion-button block *ngIf="checkLunchItem(item)" (click)="goEvetDetail(item)">Detail</button>
					</ion-col>
				</ion-row>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>