<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>profile</ion-title>
		<button ion-button small>Small</button>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col width-50>
				<img src="http://139.59.143.247/img/user/{{vmuser.image_url}}" />
			</ion-col>
			<ion-col width-50>
				<p> {{vmuser.nickname}}</p>
				<p> Developement</p>
				<p>
					<ion-icon name="{{i}}" *ngFor="let i of vmuser | stars" class="star"></ion-icon>
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>

	<p>Previous Events</p>
	<!-- start slide -->
	<ion-slides pager>

		<ion-slide style="background-color: green">
			<ion-card>
				<img src="img/nin-live.png" />
				<ion-card-content>
					<ion-card-title>
						<ion-grid>
							<ion-row>
								<ion-col width-70>
									Lunch Team Event <br/> Hadi
									<ion-icon ios="ios-star" md="md-star"></ion-icon>
									<ion-icon ios="ios-star" md="md-star"></ion-icon>
									<ion-icon ios="ios-star" md="md-star"></ion-icon>
									<ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon><br/>

								</ion-col>
								<ion-col width-30>
									<p> 3
										<ion-icon ios="logo-euro" md="logo-euro"></ion-icon>
									</p>
									<p>p/p</p>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-title>
					<p> only 1 spot left </p>
					<p>
						Today guys I will cook .....
					</p>
					<ion-row>
						<ion-col width-50>
							<p>
								13:00 today
							</p>
						</ion-col>
						<ion-col width-50>
							Lunch Zone kitchen
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>

		</ion-slide>
		<ion-slide style="background-color: blue">
			<ion-card>
				<img src="img/nin-live.png" />
				<ion-card-content>
					<ion-card-title>
						<ion-grid>
							<ion-row>
								<ion-col width-70>
									Lunch Team Event <br/> Hadi
									<ion-icon ios="ios-star" md="md-star"></ion-icon>
									<ion-icon ios="ios-star" md="md-star"></ion-icon>
									<ion-icon ios="ios-star" md="md-star"></ion-icon>
									<ion-icon ios="ios-star-outline" md="md-star-outline"></ion-icon><br/>

								</ion-col>
								<ion-col width-30>
									<p> 3
										<ion-icon ios="logo-euro" md="logo-euro"></ion-icon>
									</p>
									<p>p/p</p>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-title>
					<p> only 1 spot left </p>
					<p>
						Today guys I will cook .....
					</p>
					<ion-row>
						<ion-col width-50>
							<p>
								13:00 today
							</p>
						</ion-col>
						<ion-col width-50>
							Lunch Zone kitchen
						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>

		</ion-slide>

		<ion-slide style="background-color: red">
			sdf
		</ion-slide>

	</ion-slides>
	<!-- end slide -->
	<ion-item>
		<h2>Likes to cook</h2>
		<p>{{vmuser.likeToCook}}</p>
		<h2>Likes to eat</h2>
		<p>{{vmuser.likeToEat}}</p>
	</ion-item>


	<!-- comments -->
	Other Comments
	<ion-card *ngFor="let comment of comments">
		<ion-card-content>
			<ion-item>
				<ion-avatar item-left>
					<img src="http://139.59.143.247/img/user/{{comment.vmuser.image_url}}" />
				</ion-avatar>
				<div>
					<h2>{{comment.vmuser.nickname}}</h2>
					<p>{{comment.created}}</p>
				</div>

			</ion-item>
			<p>
				<ion-icon name="{{i}}" *ngFor="let i of comment.vmuser | stars" class="star"></ion-icon>
			</p>
			<p>
				{{comment.commentText}}
			</p>
		</ion-card-content>
	</ion-card>

	<!-- end comments -->
</ion-content>