<ion-header>
	<ion-navbar>
		<ion-title>
			Contact
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list (click)="editProfile()">
		<button ion-item icon-left>
      <ion-icon ios="ios-person" md="md-person" item-left ></ion-icon>
      Edit Profile
    </button>
	</ion-list>
	<ion-item>
		<ion-label> Push Notification </ion-label>
		<ion-toggle checked="true"></ion-toggle>
	</ion-item>
	<ion-item>
		<button ion-button block color="dark">Logout</button>
	</ion-item>


	<ion-list>

		<ion-list-header>Personal Settings</ion-list-header>

		<ion-item>
			<ion-avatar item-left>
				<ion-icon ios="ios-person" md="md-person" item-left></ion-icon>
			</ion-avatar>
			<h2>Edit Profile</h2>
		</ion-item>

		<ion-item>
			<ion-avatar item-left>
				<ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
			</ion-avatar>
			<h2>Push Notification</h2>
		</ion-item>


	</ion-list>

	<ion-list>

		<ion-list-header>Other</ion-list-header>

		<ion-item>
			<ion-avatar item-left>
				<ion-icon ios="ios-share" md="md-share"></ion-icon>
			</ion-avatar>
			<h2>Recommend App</h2>
		</ion-item>

		<ion-item>
			<ion-avatar item-left>
				<ion-icon ios="ios-information-circle" md="md-information-circle"></ion-icon>
			</ion-avatar>
			<h2>About us</h2>
		</ion-item>

		<ion-item>
			<ion-avatar item-left>
				<ion-icon ios="ios-star" md="md-star"></ion-icon>
			</ion-avatar>
			<h2 (click)="rateApp()">Rate App</h2>
		</ion-item>

		<ion-item>
			<ion-avatar item-left>
				<ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
			</ion-avatar>
			<h2>Feed Back</h2>
		</ion-item>
		<ion-item (click)="onboarding()">
			<ion-avatar item-left>
				<ion-icon name="information-circle"></ion-icon>
			</ion-avatar>
			<h2>How it works?</h2>
		</ion-item>

	</ion-list>


</ion-content>