<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>EventDetailPage</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<ion-item>
		<img src="http://139.59.143.247/img/food/{{lunchevent.image_url}}" />
	</ion-item>
	<p>
		{{lunchevent.name}}
	</p>
	<p> {{lunchevent.vmuser.nickname}}</p>
	<p> Developement</p>
	<p>
		<ion-icon name="{{i}}" *ngFor="let i of lunchevent.vmuser | stars" class="star"></ion-icon>
	</p>
	<ion-item>
		<ion-avatar item-left>
			<img src="http://139.59.143.247/img/user/{{lunchevent.vmuser.image_url}}" />
		</ion-avatar>
	</ion-item>
	<ion-grid>
		<ion-row>
			<ion-col width-50>
				<p> {{lunchevent.startTimeDefine.name}} today </p>
				<ion-icon name="time"></ion-icon>Time
			</ion-col>
			<ion-col width-50>
				<p> {{lunchevent.location.name}} </p>
				<ion-icon name="pin"></ion-icon>Location
			</ion-col>
		</ion-row>
	</ion-grid>
	<p>
		{{lunchevent.description}}
	</p>
	<p>
		{{lunchevent.luncheventguests.length}} / {{lunchevent.numberOfGuest}} only {{ lunchevent.numberOfGuest - lunchevent.luncheventguests.length}}
		spot left
	</p>
	<button ion-button block>Join</button>
	<button ion-button color="secondary" block>Leave</button>
	<button ion-button color="secondary" block (click)="rating()">Rate</button>
</ion-content>