<!--
  Generated template for the RatingPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>RatingPage</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-slides #mySlider pager [options]="mySlideOptions">

		<ion-slide *ngFor="let rating of ratings">
			<h2>{{rating.question}}</h2>
			<ion-grid>
				<ion-row>
					<ion-col width-33 (click)="next(rating, 100)">
						<ion-icon name="heart"></ion-icon>
					</ion-col>
					<ion-col width-33 (click)="next(rating, 50)">
						<ion-icon name="checkbox-outline"></ion-icon>
					</ion-col>
					<ion-col width-33 (click)="next(rating, 0)">
						<ion-icon name="checkmark"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-slide>

		<ion-slide>
			<h1>Thank you for rating</h1>
			<button (click)="back()">back</button>
		</ion-slide>
	</ion-slides>
</ion-content>